NODE_ENV=development
FRONTEND_URL=http://localhost:3055
NEXT_PUBLIC_FRONTEND_URL=http://localhost:3055
BACKEND_URL=http://localhost:5055
NEXT_PUBLIC_BACKEND_URL=http://localhost:5055
API_URL=http://localhost:5055/api/v1
NEXT_PUBLIC_API_URL=http://localhost:5055/api/v1
AUTH_URL=http://localhost:5055/api/auth
NEXT_PUBLIC_AUTH_API=http://localhost:5055/api/auth
JWT_ACCESS_SECRET="your-jwt-backend-jwt-secret-key"
NEXT_PUBLIC_WS_URL=http://localhost:5055